.navbar-inverse .navbar-brand
{
color: #f41ac5;
} 
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	background-color: #f41ac5;
	}
	
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
{
	background: #f41ac5;
}

.navbar-nav > li > .dropdown-menu
{
	border-top: 3px solid #f41ac5; 

}

	.carousel-indicators li

{
	
	border :1px solid #f41ac5
}
.carousel-indicators .active
{
	background-color: #f41ac5;
}
.option-box .color-option
{
  
    border:3px solid #f41ac5;
  
}
.option-box .gear-check 
{
	background: #f41ac5;
}
.about h1 span
{
	color : #f41ac5;
}
.testimonials span
{
	color :#f41ac5;
}
.testimonials .carousel-indicators li
{
	border :3px solid #f41ac5;
}
.subscribe h1
{
color: #f41ac5;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus
{
	background-color: #f41ac5;
}

.footer h3
{
	color: #f41ac5;
}