.navbar-inverse .navbar-brand
{
color: #E41B17;
} 
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	background-color: #E41B17;
	}
	
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
{
	background: #E41B17;
}

.navbar-nav > li > .dropdown-menu
{
	border-top: 3px solid #E41B17; 

}

	.carousel-indicators li

{
	
	border :1px solid #E41B17
}
.carousel-indicators .active
{
	background-color: #E41B17;
}
.option-box .color-option
{
  
    border:3px solid #E41B17;
  
}
.option-box .gear-check 
{
	background: #E41B17;
}
.about h1 span
{
	color : #E41B17;
}
.testimonials span
{
	color :#E41B17;
}
.testimonials .carousel-indicators li
{
	border :3px solid #E41B17;
}
.subscribe h1
{
color: #E41B17;
}
.footer h3
{
	color: #E41B17;
}