
h1,h2,h3,h4,h5, .lead
{
	font-family: 'Droid Sans', sans-serif;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img
{
height :450px;
width :100%;
padding-top: 20px
}
.navbar-brand{
	font-family: initial;
	font-size: 26px;
	padding-left: 30px;
}


.navbar-inverse .navbar-nav > li > a
{
	color: white;
}
.navbar-nav > li > .dropdown-menu
{
	background: black;
		

}
.dropdown-menu 
{
	min-width: 200px;
}

.dropdown-menu > li > a
{
color: white;
padding: 7px 20px;
-webkit-transition:padding 0.5s ease;
-moz-transition:padding 0.5s ease;
-o-transition:padding 0.5s ease;
transition:padding 0.5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	
	color: white;
	padding-left: 2px;

}



.carousel-indicators li
{
	margin-top: 20px;
	
	
}

/* section tool box*/

.option-box {position:fixed;top:100px;left:0;z-index:9999}

.option-box .color-option
{
    float:left;
    background:#333;
    color:#fff;
    padding:10px;
    width:200px;
  
    display: none;
    
}

.option-box .color-option ul li
{
    width:20px;
    height:20px;
    display:inline-block;
    margin-right:3px;
    cursor:pointer
}

.option-box .gear-check 
{   padding:5px;
	color:#FFF;
	cursor:pointer
}
/*end tool box */

.about{
	padding-top: 60px;
	padding-bottom: 60px;
}
.about .lead
{
	color: #888;
	font-size: 25px;
	margin-top: 15px;
}
.about h1
{
	font-weight: bold;
}

.feature
{
	background:#EEE;
	padding-top: 20px;
	padding-bottom: 20px; 
	font-size: 12px;
}
.feature .feat p
{
line-height: 2em;
}
.feature .feat span.glyphicon
{
	font-size: 22px;
	margin-bottom: 10px;
	color: #888;
}
.testimonials .lead
{
line-height: 2em;
margin-bottom: 10px;
}
.testimonials span
{
	font-size: 18px;
	font-weight: bold;
}
.testimonials .carousel-inner
{
	min-height: 60px;
}
.testimonials .carousel-indicators {
	position: relative;
	width: 100%
	margin-left :auto;
	padding-top: 20px;
	
	

}

.testimonials .carousel-indicators li{
	text-indent: 0;
	width: 100px;
	height: 100px;
	text-align: center;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0.8;
	margin:5px;

}
.testimonials .carousel-indicators li img
{
	max-width: 100%;
}

.table 
{
	background: #EEE;
	padding-top: 20px;
	padding-bottom: 20px;

}
 .table h1
 {
 	margin-bottom: 40px;
 }
.table .box
{
	background: #fff;
	padding :5px;
	border:1px solid #DDD;
	margin-bottom: 15px;
}

.table .box h2
{
	margin :5px 0 15px;
}
.table .box:hover p
{
   -webkit-transform :scale(1.1,1.1) rotate(360deg);
   -moz-transform :scale(1.1,1.1) rotate(360deg);
   -o-transform :scale(1.1,1.1) rotate(360deg);
   transform: :scale(1.1,1.1) rotate(360deg);
}

.table .box p 
{
font-size: 35px;
font-weight: bold;
color: #666;
width: 100px;
height: 100px;
background :#F3F3F3;
border-radius: 60px;
line-height: 100px;
-webkit-transition-duration:0.7s ;
-moz-transition-duration: 0.7s ;
-o-transition-duration: 0.7s;
transition-duration:0.7s;
}
.table .box ul
{
	line-height: 250%;
	font-size: 16px;
}
.table .box a 
{
	margin-bottom: 5px;
}


.subscribe
{
	padding-top: 20px;
	padding-bottom: 40px;
	
}
.subscribe h1
{
letter-spacing: 2px;
margin-bottom: 20px;
}
.subscribe p
{
	margin-bottom: 30px;
}
.subscribe .form-control
{
	border-radius: 0;
	margin-right: -5px;
	width: 300px;
}
.subscribe button 
{
border-radius: 0;
}

.OurMembers img
{
	background: url("../image/4.JPG") no-repeat center center fixed;
     min-width: 600px;

}
.OurSkills
{
	padding-top: 40px;
	padding-bottom: 60px;
	background: #EEE;
}
.OurSkills .progress
 {
 	height: 26px;
}
.OurSkills .progress-bar
{
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;


}
.team-info p
{
	margin-top: -40px ;
}
.team-info h3
{
	padding-bottom: 60px;
	font-weight: bold;
	margin-top: 0;
}
.contact
{
background: url('../image/pic.JPG');
margin-top: 40px;
margin-bottom: 40px;

}
.contact .filed
{
	background :rgba(9,9,9,0,8);
	color: #DDD;
	min-height: 100px;
	padding-top:40px;
	padding-bottom: 40px;
}
.contact textarea
{
	height: 108px;
}

.footer
{
	background-color: #333;
	color: #AAA;
	padding-top: 20px;
	padding-bottom: 20px;
}


.footer	a{color: #AAA}
.footer a:hover{color: #AAA}
.footer h3
{
letter-spacing: 1px;
margin :30px 0 20px;
}
.footer .three-columns
{
	overflow: hidden;
}
.footer .three-columns li
{
	width: 33.3333%;
	float: left;
	padding: 5px 0
}
.footer .social-list
{
	overflow: hidden;
	margin: 20px 0 10px;

}
.footer .social-list li
{
	float: left;
	margin-right: 3px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-webkit-transition:padding 0.5s ease;
-moz-transition:padding 0.5s ease;
-o-transition:padding 0.5s ease;
transition:padding 0.5s ease;
}
.footer .social-list li:hover
{
	opacity:1
}
.copyright 
{
	margin-top: 20px;
}
/*mobile screen */
@media (max-width: 768px)
{
	.navbar-inverse .navbar-nav > li > a
	{
     padding-top: 10px;
     padding-bottom: 10px;
	}
    .subscribe .form-control
    {
    	margin: 20px auto;
    	width: 400px;
    }
}